    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer async="true" src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <script async="true" src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script async="true" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script async="true" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel='stylesheet' type='text/css' href='/sdk/map.css'/> 
    <script async="true" src='/sdk/tomtom.min.js'></script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-N3SMW2H');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
        <nav class="navbar navbar-default navbar-inverse">
                <div class="container-fluid">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">GRC Invest Partner</a>
                  </div>
              
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                      <li><a href="/">Strona Główna <i class="far fa-newspaper"></i><span class="sr-only">(current)</span></a></li>
                      <li><a href="/kontenery">Wynajem kontenerów <i class="fas fa-archive"></i></a></li>
                      <li><a href="/kontakt">Kontakt <i class="fas fa-mobile-alt"></i></a></li>
                    </ul>
                  </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
              </nav>

              <div class="container" id="infoOCookies" style="padding-top: 10px"></div>
              <script>
                var miejsceNaCookies = document.getElementById("infoOCookies");
                var ciasteczka = document.cookie;
                var czySieZgodzil = ciasteczka.search("tuSieZgodzil");
            
                if(czySieZgodzil === -1) {
            
                    miejsceNaCookies.innerHTML = '<div class="col-md-12">' +
                            '<div class="alert alert-warning alert-dismissible" role="alert">' +
                              '<button type="button" id="zamknijInfoOCookies" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                              '<strong>Uwaga!</strong> Ta strona używa plików cookies.' +
                            '</div>' +
                        '</div>';
            
                    $("#zamknijInfoOCookies").on("click", function() {
                        // Build the expiration date string:
                        var expiration_date = new Date();
                        var cookie_string = '';
                        expiration_date.setFullYear(expiration_date.getFullYear() + 1);
                        // Build the set-cookie string:
                        cookie_string = "tuSieZgodzil=tak; path=/; expires=" + expiration_date.toUTCString();
                        // Create or update the cookie:
                        document.cookie = cookie_string;
                    });
                }
            </script>
    
    <!-- <div class="container"> -->