
<html>
    <head>
        <title>Kontakt z GRC Invest Partner - wynajem kontenerów socjalno-biurowych</title>
        <meta name="description" content="Dane kontaktowe: adres, telefon, e-mail oraz położenie na mapie siedziby firmy">
<%include partials/header %>

<div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <h4>GRC Invest Partner</h4>
                <ul class="list-group">
                    <li class="list-group-item"><i class="fas fa-home"></i> ul. Górna 39/2, 15-523 Grabówka <br /></li>
                    <li class="list-group-item"><i class="far fa-map"></i> gmina Supraśl, pow. Białystok <br /></li>
                    <li class="list-group-item"><i class="fas fa-mobile"></i> <strong>mobile:</strong> +48 510 03 69 44 <br /> +48 85 740 23 34 <br /></li>
                    <li class="list-group-item"><i class="fas fa-at"></i> <strong>E-mail:</strong> grc@vp.pl </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-8">
                <div id="map" class="map"></div>
            </div>
        </div>
</div>

<script>
    window.onload = (event) => {
        var grcKonteneryCoordinates = [53.132148, 23.240894];
        var map = tomtom.L.map('map', {
                key: 'Cm7GG6bBYbXKYR1jD45HLl4DMPkPlQGk',
                source: 'vector',
                center: grcKonteneryCoordinates,
                language: "pl-PL",
                zoom: 12,
                basePath: '/sdk'
        });
        var marker = tomtom.L.marker(grcKonteneryCoordinates).addTo(map);
        marker.bindPopup("<b>GRC Invest Partner</b><br/>ul. Górna 39/2, 15-523 Grabówka").openPopup();
    }
</script>
        
        
<style>
    .map {
        width: auto;
        height: 500px;
    }

    @media all and (max-width: 768px) {
        .map {
            height: 250px;
            width: auto;
        }
    }
</style>

<%include partials/footer %>