<html>
    <head>
      <title>GRC Invest Partner - wynajem kontenerów socjalno-biurowych</title>
      <meta name="description" content="Firma zajmująca się wynajmowaniem kontenerów socjalno-biurowych. Prowadzi działalność na terenie Białegostoku i okolic.">

    <% include partials/header %>
            <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
              <div class="container">
                <h1 class="display-3">GRC Invest Partner</h1>
                <h2>Wynajem kontenerów socjalno-biurowych</h2>
              </div>
        </div>
      
        <div class="container">
              <div class="row display-flex">
                      <div class="col-sm-6 col-md-4 col-md-offset-2">
                          <div class="thumbnail">
                            <a href="/kontenery"><img src="https://images.pexels.com/photos/783942/pexels-photo-783942.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Card image cap"></a>
                              <div class="caption">
                                  <h3>Wynajem kontenerów budowalnych</h3>
                                  <a href="/kontenery"class="btn btn-primary">Sprawdź ofertę</a>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-6 col-md-4">
                          <div class="thumbnail">
                            <a href="/kontakt"><img src="https://images.pexels.com/photos/789822/pexels-photo-789822.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Card image cap"></a>
                              <div class="caption">
                                  <h3>Kontakt</h3>
                                  <a href="/kontakt" class="btn btn-primary">Szczegóły</a>
                              </div>
                          </div>
                      </div>
              </div>
      
        </div> <!-- /container -->

      <style>
      .jumbotron{
          background: url('https://images.pexels.com/photos/245772/pexels-photo-245772.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center 80%;
          filter: sepia(.25);
          text-shadow: -1px 1px 16px rgba(255, 255, 255, 1);
      }
      
    .thumbnail img{
          opacity: 1;
      }
      
    .thumbnail img:hover {
          opacity: 0.3;
      }
      
    .row.display-flex {
        display: flex;
        flex-wrap: wrap;
      }
      
      .thumbnail {
        display: flex;
        flex-direction: column;
      }
/*       
      .thumbnail .caption {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
      } */
      
      .thumbnail a {
          width: 100%;
      } 
      
    </style>

<% include partials/footer %>