<html>
    <head> 
        <title>Galeria oraz parametry techniczne</title>
        <meta name="decription" content="Szczegółowy opis parametrów technicznych oraz galeria z wieloma zdjęciami kontenerów.">

<% include ../partials/header %>

<div class="container">
    <h1>Kontenery socjalno-biurowe</h1>
    Jeżeli rozpoczynasz budowę i chciałbyś zapewnić pomieszczenie spełniające potrzeby socjalne, zachęcamy abyś zapoznał się z naszą ofertą.
    <br /><br />
    <h3>Skontaktuj się z nami, jeżeli chciałbyś wynająć barak, który:</h3>
    <ul>
        <li>pochodzi z jednej z najlepszych wytwórni w Polsce</li>
        <li>jest dostosowany do naszych wartunków atmosferycznych</li>
        <li>jest łatwy w transporcie i montażu</li>
    </ul>
    <div class="row display-flex">
            <div class="col-lg-6 col-sm-12 col-md-12">
                    <img class="img-responsive" src="http://www.kontenery.bialystok.pl/kontenry_budowlane/images/schemat.jpg" alt="Generic placeholder image"> 
            </div>
            <div class="col-lg-5 col-sm-12 col-md-12">
                <h4>Wymiary zewnętrzne: 6,05m x 2,44m; h = 2,8m <br />wysokość wewnętrzna 2,5m</h4>
                <p>
                    Każdy kontener wyposażony jest w:
                    <ul>
                        <li>roletę antywłamaniową</li>
                        <li>instalację elektryczną</li>
                        <li>oświetlenie</li>
                        <li>gniazdka</li>
                        <li>grzejnik elektryczny</li>
                    </ul>
                    Budowa instalacji umożliwia szeregowe łączenie poszczególnych segmentów bez konieczności udziału elektryka i łączenia kabli ze sobą.
                </p>
                <p style="border: 1px solid red; padding: 10px; border-radius:5px;">
                    Do zastosowania jako <strong>biura, magazyny, pomieszczenia socjalne, lokale zastępcze lub okresowe punkty sprzedaży</strong> – kontenery
                    do wynajęcia spełnią różne wymagania jakie im postawimy.
                </p>
            </div>
    </div>
    <div class="row" style="margin-bottom: 10px;">
        <h4 style="margin: auto; margin-top: 40px;">Szczegółowe parametry techniczne kontenerów:</h4>
    </div>
    <div>
        <div class="row">
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Ściany</th>
                        <td>Zewnętrzna powierzchnia ścian pokryta blachą trapezową, ocynkowaną o grubości 0,55 mm. Izolacja z wełny mineralnej o
                    grubości 75 mm. Cała powierzchnia ścian wyłożona folią paroprzepuszczalną. Wewnętrzna część ściany pokryta płytą wiórową
                    laminowaną grubości 12,0 mm w kolorze białym. Ściany zewnętrzne – blacha trapezowa, izolacja z wełny mineralnej gr.
                    75mm wewnątrz płyta laminowana gr. 12 mm</td>
                    </tr>
                    <tr>
                        <th scope="row">Podłoga</th>
                        <td>Spodnia część podłogi kontenera wyłożona blachą trapezową niskofałdowana ocynkowana, izolacja termiczna z wełny
                    mineralnej 100 mm, paroizolacja z folii polietylenowej, od wewnątrz płyta OSB 22mm, pokryta wykładziną PCV.</td>
                    </tr>
                    <tr>
                        <th scope="row">Dach</th>
                        <td>Dach z blachy ocynkowanej, lub płyta OSB 22 mm pokryta 2 x papą termozgrzewalną Izolacja dachu - wełna mineralna o
                    grubości 100 mm ułożona między poprzeczkami. Cała powierzchnia dachu wyłożona folią paroprzepuszczalną. Wewnętrzna
                    część dachu pokryta płytą wiórową laminowaną gr 12 mm na kolor biały.</td>
                    </tr>
                    <tr>
                        <th scope="row">Drzwi zewnętrzne</th>
                        <td>Drzwi zewnętrzne, metalowe, białe lub ocynkowane 900x2000mm, zamki patentowe 3 klucze, okucia i klamki stalowe lub PCV,
                    uszczelka obwiedniowa.</td>
                    </tr>
                    <tr>
                        <th scope="row">Okna</th>
                        <td>Okna PCV, białe, uchylno - rozwierne. Każde okno wyposażone w białą roletę zewnętrzna z prowadnicami bocznymi.</td>
                    </tr>
                    <tr>
                        <th scope="row">Drzwi wewnętrzne</th>
                        <td> Drzwi wewnętrzne, drewniane płytowe 800x2000mm, białe, pełne.</td>
                    </tr>
                    <tr>
                        <th scope="row">Instalacja wentylacyjna</th>
                        <td>Instalacja wentylacyjna – grawitacyjna, nawiewno – wywiewna, w pomieszczeniach sanitarnych mechaniczna</td>
                    </tr>
                    <tr>
                        <th scope="row">Instalacje elektryczna</th>
                        <td>Przyłącze zewnętrzne siłowe. Instalacja wewnętrzna natynkowa w komplecie ze skrzynką rozdzielczą wyposażoną w bezpieczniki
                    przepięciowe dla trzech obwodów 16A i wyłącznik różnicowy. Oświetlenie dwie lampy jarzeniowe podwójne (2 x 36 W) w oprawie.
                    Kontener wyposażony w trzy gniazda wtykowe pojedyncze. Ogrzewanie elektryczne, grzejnik konwektorowy naścienny z termostatem.</td>
                    </tr>
                    <tr>
                        <th scope="row">Posadowienie</th>
                        <td>Posadowienie – wyrównanie i utwardzenie terenu po stronie Zamawiającego. W terenie utwardzonym za fundamenty mogą być użyte małe
                    klocki betonowe natomiast na gruncie nieutwardzonym wymagane są duże stopy fundamentowe</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="kontenerek">
                    <img src="/drzwi-zewnatrz.jpg" class="img-responsive" alt="Drzwi kontenera na zewnątrz">
                    <img src="/drzwi-wewnatrz.jpg" class="img-responsive" alt="Drzwi kontenera wewnątrz">
                    <img src="/sciana-boczna.jpg" class="img-responsive" alt="Ściana boczna kontenera">
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="kontenerek">
                    <img src="/okno-wewnatrz.jpg" class="img-responsive" alt="Widok na okno wewnątrz kontenera">
                    <img src="/dwa-kontenery.jpg" class="img-responsive" alt="Kontenery ustawione jeden obok drugiego">
                    <img src="/szklane-drzwi.jpg" class="img-responsive" alt="Widok na drzwi na zewnątrz kontenera">
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="kontenerek">
                    <img src="/wnetrze-kontenera.jpg" class="img-responsive" alt="Wnętrze kontenera">
                    <img src="/okno-elektryka.jpg" class="img-responsive" alt="Okno oraz instalacja elektryczna">
                    <img src="/wyglad-ogolny.jpg" class="img-responsive" alt="Wygląd ogólny">
                </div>
            </div>
        </div>
    </div>
</div>

<style>
        .panel-body img {
            margin-right: 10px;
            margin-bottom: 2px;
            max-width: 200px;
            height: auto;
        }
        
        .img-responsive {
            margin: 10px;
        }
        
        .kontenerek {
            flex-direction: column;
        }
</style>

<% include ../partials/footer %> 